_=(a,b)->c={};c[k]=a[k]for k of a;c[k]=b[k]for k of b;c
module.exports =
  mysql: mysql =
    adapter: 'mysql'
    host: '127.0.0.1'

  production:
    _ mysql,
      database: 'project'
      username: 'root'

  staging:
    _ mysql,
      database: 'project_stage'
      username: 'root'

  development:
    _ mysql,
      database: 'project_dev'
      username: 'root'

  test:
    _ mysql,
      database: 'project_test'
      username: 'root'
